/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

body {
    background: #dadada;
}

a {
    text-decoration: none;
    color: inherit;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #131921;
    padding: 8px 10px;
    color: #fff;
}

.logo {
    width: 100px;
    padding: 5px;
    border: 1px solid transparent;
}

.logo:hover {
    border: 1px solid wheat;
}

.nav-country {
    margin-left: 15px;
}

.nav-country-link {
    display: flex;
    align-items: end;
}

.nav-country p,
.nav-right p {
    font-weight: 400;
    color: #dadada;
    font-size: 13px;
}

.nav-country h1,
.nav-right h1 {
    font-weight: 900;
    font-size: 14px;
}

.nav-icon {
    width: 20px;
}

.nav-search {
    flex: 1;
    display: flex;
    align-items: center;
    max-width: 850px;
    background: #fff;
    color: gray;
    border-radius: 4px;
    margin-left: 15px;
}

.nav-search-input {
    border: none;
    outline: none;
    padding-left: 20px;
    width: 100%;
    font-size: 16px;
}

.search-btn {
    background: #ffd64f;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.nav-search-icon {
    max-width: 41px;
    padding: 8px;
    background: #ffd64f;
}

.nav-right {
    display: flex;
    align-items: center;
    width: 180px;
    justify-content: end;
}

.nav-return {
    margin-right: 15px;
}

.nav-cart {
    display: flex;
    align-items: center;
    position: relative;
}

.nav-cart img {
    width: 50px;
}

.nav-cart-quantity {
    color: rgb(240, 136, 4);
    font-size: 16px;
    font-weight: 700;
    position: absolute;
    top: 0px;
    left: 18px;
    width: 26px;
    text-align: center;
}

.nav-cart-text {
    margin-top: 12px;
    font-size: 15px;
    font-weight: 700;
}

.header-slider ul {
    display: flex;
    overflow-y: hidden;
}

.header-img {
    max-width: 100%;
    mask-image: linear-gradient(to bottom, #000000 50%, transparent 100%);
}

.header-slider a {
    position: absolute;
    top: 15%;
    z-index: 1;
    font-size: 23px;
    padding: 95px 42px;
    cursor: pointer;
}

.control-prev {
    text-shadow: 4px 1px white;
}

.control-next {
    right: 0;
    text-shadow: -4px 1px white;
}

.product-box {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
}

.header-box {
    margin-top: -10vw;
}

.product-card {
    margin: 0 10px;
    background: white;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.product-card h2 {
    margin-bottom: 10px;
    height: 34px;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 17px;
}

.product-img {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 20px;
}

.product-rating {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.rating-img {
    height: 22px;
    margin-right: 6px;
}

.product-reviews {
    color: #017cb6;
    cursor: pointer;
    margin-top: 3px;
    font-size: 15px;
}

.product-card p {
    font-weight: 700;
    margin-bottom: 10px;
}

select {
    width: fit-content;
    color: rgb(33, 33, 33);
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(213, 217, 217);
    border-radius: 8px;
    padding: 3px 5px;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(213, 217, 217, 0.5);
    margin-bottom: 17px;
}

.product-add {
    color: rgb(6, 125, 98);
    font-size: 16px;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.product-add img {
    height: 20px;
    margin-right: 5px;
    display: none;
}

.product-add p {
    margin-bottom: 0;
    display: none;
}

.btn {
    display: block;
    width: 100%;
    padding: 8px;
    border-radius: 50px;
    color: rgb(33, 33, 33);
    background-color: rgb(255, 216, 20);
    border: 1px solid rgb(252, 210, 0);
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(213, 217, 217, 0.5);
    margin-bottom: 10px;
}

.product-footer {
    background: #0C164F;
    color: white;
    display: flex;
    justify-content: space-between;
}

.product-footer img {
    margin: 12px 20px;
    width: 100px;
}

.product-footer p {
    margin: 20px 20px;
}

@media (max-width: 920px) {
    .product-box {
        grid-template-columns: repeat(3, 1fr);
    }

    .product-card {
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    nav {
        flex-wrap: wrap;
    }

    .nav-country {
        display: none;
    }

    .nav-search {
        order: 1;
        min-width: 300px;
        margin: 15px 5px 5px;
    }

    .product-box {
        grid-template-columns: repeat(2, 1fr);
    }

    .product-card {
        margin-bottom: 20px;
    }

    .header-slider a {
        top: 24%;
        padding: 2vh 4vw;
        font-size: 15px;
    }

    footer {
        align-items: center;
        flex-direction: column;
        font-size: 14px;
    }

    .product-footer img {
        margin-bottom: 0;
    }

    .product-footer p {
        margin: 12px;
    }
}